[Unit]
Description=etcd key-value store
Documentation=https://etcd.io/docs/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=etcd
Group=etcd
ExecStart=/usr/local/bin/etcd \
  --name {{ etcd.name }} \
  --data-dir {{ etcd.remote_data_dir }} \
  --listen-peer-urls https://0.0.0.0:2380 \
  --listen-client-urls https://0.0.0.0:2379 \
  --initial-advertise-peer-urls https://{{ etcd.peer_host }}:2380 \
  --advertise-client-urls https://{{ etcd.client_host }}:2379 \
  --initial-cluster {{ etcd.initial_cluster }} \
  --initial-cluster-state {{ etcd.cluster_state }} \
  --initial-cluster-token {{ etcd.cluster_token }} \
  --cert-file {{ etcd.remote_ssl_dir }}/server.crt \
  --key-file {{ etcd.remote_ssl_dir }}/server.key \
  --trusted-ca-file {{ etcd.remote_ssl_dir }}/ca.crt \
  --client-cert-auth \
  --peer-cert-file {{ etcd.remote_ssl_dir }}/server.crt \
  --peer-key-file {{ etcd.remote_ssl_dir }}/server.key \
  --peer-trusted-ca-file {{ etcd.remote_ssl_dir }}/ca.crt \
  --peer-client-cert-auth
Restart=always
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
